.terminal .p-terminal {
    background-color: #212121;
    color: #fff;
    height: 80vh;


}

.terminal .p-terminal .p-terminal-command {
    color: #80cbc4;
}
.terminal .p-terminal .p-terminal-prompt {
    color: #ffd54f;
}
.terminal .p-terminal .p-terminal-response {
    color: #9fa8da;
}