/* ./assets/main.css  is loaded in ./src/index.html */
body, html {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin: 0px;
}

#app-title {
    font-family: 'coiny', sans-serif;
    font-variant:small-caps;
};